<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan project">
 <!--  <test thread-count="5" name="personal loan">
    <classes>
      <class name="test.basics"/>
      <class name="test.login">
      <methods>
      <include name="WebLoginhome"/></methods>
      </class>
    </classes>
  </test>
  <test thread-count="5" name="Car loan">
    <classes>
      <class name="test.basics2"/>
    </classes>
  </test>
  <test thread-count="5" name="Home loan">
    <classes>
      <class name="test.login">
      <methods>
      	<exclude name="API.*"/>
      	<exclude name="WebLoginhome"/> 
      </methods>
      </class>
    </classes>
  </test>-->
  <test name="Regression">
  <groups>
  <run>
  <include name="Smoke"/><!-- <exclude name="Smoke"/> -->
  </run>
  </groups>
  <classes>
  		<class name="test.basics"/>
  		<class name="test.basics2"/>
  		<class name="test.login"/>
  
  </classes>
  </test>
</suite> <!-- Suite -->
