<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan project">
 <test thread-count="5" name="personal loan">
    <classes>
      <class name="test.basics"/>
      <class name="test.login">
      <methods>
      <include name="WebLoginhome"/></methods>
      </class>
    </classes>
  </test>
  <test thread-count="5" name="Car loan">
  
   <parameter name="URL" value="qaclickacademy.com"/>
    <classes>
      <class name="test.basics2"/>
    </classes>
  </test>
  <test thread-count="5" name="Home loan">
    <classes>
      <class name="test.login"/>
    </classes>
  </test>
  <test thread-count="5" name="para loan">
  
   <parameter name="URL" value="paraloan.com"/>
   <parameter name="APIKey/usrname" value="12345"/>
    <classes>
      <class name="test.parameters"/>
    </classes>
  </test>
<!--  <test name="Regression">
  <groups>
  <run>
  <include name="Smoke"/> <exclude name="Smoke"/> 
  </run>
  </groups>
  
  <classes>
  		<class name="test.basics"/>
  		<class name="test.basics2"/>
  		
  		<class name="test.login"/>
  
  </classes>
  </test> -->
</suite> 
